 <h1>Users</h1>

  <table>
   <thead>
   	<tr>
   	  <th><p>image</p></th>
      <th><p>name</p></th>
      <th><p></p></th>
    </tr>
    </thead>

   <tbody>
    <tr>
   <td><%= attachment_image_tag @user, :image do %></td>
   <td><%= @user.name %></td>
   <td><%=link_to "Show", user_path %></td>
   </tr>

    <% end %>
</tbody>
</table>