 <h1>Books</h1>
   <% @books.each do |book| %>

   <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
      <p>Title</p>
      <span>

        <%=link_to book.title, book_path(book.id) %>
          
        </span>
      <p>Option</p>
      <span><%= book.option %></span>
   <% end %>