 <h1>Books</h1>

 <table>
   	<thead>
   	<tr>
   	  <th><p></p></th>
      <th><p>Title</p></th>
      <th><p>Opinion</p></th>
    </tr>
    </thead>

    <tbody>
    <tr>
     <td><%= attachment_image_tag @user, :image do %></td>
      <td><span>

      	<%=link_to book.title, book_path(book.id) do %>
      		
      	</span></td>
      <td><span><%= book.opinion %></span></td>
    </tr>
    <% end %>
    <% end %>
    </tbody>
    </table>